.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2rem;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.app__profiles_new{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2rem;
  @media screen and (max-width: 1200px) {
    flex-direction: row;
  }
}
.app__abouts-img{
  
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  img {
    width: 60%;
    object-fit: contain;
  }


  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
    img{
      width: 60%;
    }  
  }
}

.app__profile-item {
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
  }
  @media screen and (max-width: 1200px) {
    margin: 2rem auto ;
  }
  @media screen and (min-width: 2000px) {
    width: 370px;
  
    img {
      height: 320px;
    }
  }
}